ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ion-list {
    width: 100%;
    max-width: 400px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  